*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color:white;
    /* background-color:darkslategrey; */
    background-color: #081b31;
    height: 4rem;
    line-height: 4rem;
}
.choose{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.choose:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: black;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 8rem;
    margin-top: 3rem;
}
#user-score, #comp-score{
    font-size: 3.3rem;
}
.msg-Container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 1.3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}